body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #2c3e50, #1a252f);
  height: 100vh;
}

.lantern-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 0;
}

.lantern {
  position: absolute;
  width: 40px;
  height: 60px;
  background: #ff3737;
  border-radius: 15px;
  box-shadow: 0 0 20px 10px rgba(255, 150, 50, 0.5);
  animation-name: floatLantern;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
}

@keyframes floatLantern {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(-150px) translateX(-20px) scale(1.05);
    opacity: 0.9;
  }
  50% {
    transform: translateY(-300px) translateX(40px) scale(1.1);
    opacity: 0.8;
  }
  75% {
    transform: translateY(-450px) translateX(-10px) scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-110vh) translateX(30px) scale(1);
    opacity: 0;
  }
}

.lantern-character .lantern-details {
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.lantern-top {
  position: relative;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 15px;
  background: #ffd700;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lantern-bottom {
  position: relative;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  background: #ffd700;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lantern-tassel {
  position: absolute;
  bottom: -202px;
  width: 70px;
  height: 200px;
}

.curly-tassel-svg {
  width: 100%;
  height: 70%;
  animation: curl-drift 5s ease-in-out infinite,
    swingTassel 3s ease-in-out infinite, driftTassel 5s ease-in-out infinite;
  transform-origin: top center;
}

.left-tassel {
  left: 40%;
  transform: translateX(-40%);
  animation-delay: 0.2s;
}

.middle-tassel {
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.4s;
}

.right-tassel {
  left: 60%;
  transform: translateX(-60%);
  animation-delay: 0.6s;
}

@keyframes swingTassel {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) rotate(10deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

@keyframes driftTassel {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-2px) rotate(3deg);
  }
  50% {
    transform: translateY(-4px) rotate(-2deg);
  }
  75% {
    transform: translateY(-2px) rotate(4deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes curl-drift {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(3px) rotate(2deg);
  }
}
