#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.title:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.clusters-btn {
  color: white;
  border-color: white;
}

.grid-container {
  display: grid;
  width: 400px;
  height: 400px;
}

#difficult {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

/* .medium {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.easy {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
} */

.answer-container {
  height: 200px;
  grid-template-columns: repeat(2, 1fr);
  margin: 4em 4em;
  font-size: large;
}

.grid-square {
  border: 1px solid white;
  background-color: lightgray;
  color: #646cffaa;
  margin: 1.2em .8em;
  border-radius: .8em;
  font-size: 2rem;
  padding: 1em 1em;
}

.btn {
  background-color: #646cffaa;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.prev-btn {
  margin-left: -12em;
  margin-right: 52em;
}


